
<div class="container">
    <h4>Insert a New Employee</h4>
    <form name="frmEmployee" #frmEmp="ngForm">
      <div class="form-control row">  
        
        <div class="form-control row">
            <label>Employee Name</label>
            <input type="text" name="firstName"            
            [(ngModel)]="newEmployee.firstName" 
            required
            minlength="5"
            #eName="ngModel" />

            <!-- <div *ngIf="eName.invalid && (eName.dirty || eName.touched)"
            class="alert alert-danger">
            
                  <div *ngIf="eName.errors?.['required']">
                    FirstName is required.
                  </div>
                  <div *ngIf="eName.errors?.['minlength']">
                    FirstName must be at least 5 characters long.
                  </div>            
            </div>     -->
            @if(eName.invalid && (eName.dirty || eName.touched)){
              <div
            class="alert alert-danger">
            
                  <!-- <div *ngIf="eName.errors?.['required']">
                    FirstName is required.
                  </div> -->
                  @if(eName.errors?.['required']){
                    <div>
                      FirstName is required.
                    </div>
                  }
                  <!-- <div *ngIf="eName.errors?.['minlength']">
                    FirstName must be at least 5 characters long.
                  </div>             -->
                  @if(eName.errors?.['minlength'){
                    <div>
                      FirstName must be at least 5 characters long.
                    </div>
                  }
            </div>
            }
        </div>
        <div class="form-control row">
            <label>Last Name</label>
            <input type="text" name="lastName"            
            [(ngModel)]="newEmployee.lastName" 
            required
            minlength="5"
            #lName="ngModel" />

            <!-- <div *ngIf="lName.invalid && (lName.dirty || lName.touched)"
            class="alert alert-danger">
            
                  <div *ngIf="lName.errors?.['required']">
                    LastName is required.
                  </div>
                  <div *ngIf="lName.errors?.['minlength']">
                    LastName must be at least 5 characters long.
                  </div>            
            </div>     -->
            @if(lName.invalid && (lName.dirty || lName.touched)){
              <div
            class="alert alert-danger">
            
                  <!-- <div *ngIf="lName.errors?.['required']">
                    LastName is required.
                  </div> -->
                  @if(lName.errors?.['required']){
                    <div >
                      LastName is required.
                    </div>
                  }
                  <!-- <div *ngIf="lName.errors?.['minlength']">
                    LastName must be at least 5 characters long.
                  </div>             -->
                  @if(lName.errors?.['minlength']){
                    <div >
                      LastName must be at least 5 characters long.
                    </div>
                  }
            </div>
            }
        </div>

        <div class="form-control row">
            <label for="title">Title</label>
            <select [(ngModel)]="newEmployee.title" name="title" placeholder="Select" appearance="outline" size="3">
              <option value="Sales Manager">Sales Manager</option>
              <option value="Sales Representative">Sales Representative</option>
              <option value="Team Leader">Team Leader</option>
              <option value="Project Manager">Project Manager</option>
              <option value="Marketing Executive">Marketing Executive</option>
            </select>
          </div>

        <div class="form-control row">
            <label for="courtesy">Title Of Courtesy</label>
            <select name="titleOfCourtesy" 
            [(ngModel)]="newEmployee.titleOfCourtesy" 
            placeholder="Select" 
            appearance="outline">
              <option value="Mr">Mr</option>
              <option value="Mrs">Mrs</option>
              <option value="Ms">Ms</option>
            </select>
          </div>

          <div class="form-control row">
            <label>Gender</label>
            <input type="radio" value="M" name="gender" [(ngModel)]="newEmployee.gender">Male         
            <input type="radio" value="F" name="gender" [(ngModel)]="newEmployee.gender">Female
          </div>
          <br/>
          <div class="form-control row">
            <label>Has Passport</label>
            <input type="checkbox" 
            checked=false
            name="hasPassport"
            [(ngModel)]="newEmployee.hasPassport">
          </div>
          <br/>
          <div class="form-control row">
            <label>Date Of Joining</label>
            <input type="datetime-local" 
            name="dateOfJoining"
            [(ngModel)]="newEmployee.dateOfJoining">
          </div>

        <div class="form-control row">
            <label>Salary</label>
            <input type="number" name="salary" 
            [(ngModel)]="newEmployee.salary" 
            required 
            min="500" 
            max="15000" 
            #eSal="ngModel"/>

            <!-- <div *ngIf="eSal.invalid && (eSal.dirty || eSal.touched)"
            class="alert alert-danger">
        
          <div *ngIf="eSal.errors?.['required']">
            Salary is required.
          </div>
          <div *ngIf="eSal.errors?.['min']">
            Salary must be above 500.
          </div>
          <div *ngIf="eSal.errors?.['max']">
            Salary must be below 15000.
          </div>
        </div> -->
        @if(eSal.invalid && (eSal.dirty || eSal.touched)){
          <div
            class="alert alert-danger">
        
          <!-- <div *ngIf="eSal.errors?.['required']">
            Salary is required.
          </div> -->
          @if(eSal.errors?.['required']){
            <div >
              Salary is required.
            </div>
          }
          <!-- <div *ngIf="eSal.errors?.['min']">
            Salary must be above 500.
          </div> -->
          @if(eSal.errors?.['min']){
            <div >
              Salary must be above 500.
            </div>
          }
          <!-- <div *ngIf="eSal.errors?.['max']">
            Salary must be below 15000.
          </div> -->
          @if(eSal.errors?.['max']){
            <div >
              Salary must be below 15000.
            </div>
          }
        </div>
        }

        </div>          
     </div>
     </form>
</div>

<div>
    <button type="button" class="btn btn-primary" 
    [disabled]="frmEmp.invalid" 
    style="width: 200px"
    (click)="insertNewEmployee()">Insert a New Employee</button>   
  
    &nbsp;
    <button type="button" class="btn btn-primary" style="width: 150px"
         [routerLink]="['/showallemployees']">Back To Index</button>   
  
         
        </div> 