<div>
    <label>
      Section 3
    </label>
    <div [routerLink]="['/section3']">Creating Components in Many Ways</div>
  </div>
  <div>
    <label>
      Section 4
    </label>
    <div [routerLink]="['/section4']">Working with build-in directives</div>
  </div>
  <div>
    <label>
      Section 5
    </label>
    <div [routerLink]="['/section5']">Two Way Binding</div>
  </div>
  <div>
    <label>
      Section 6
    </label>
    <div [routerLink]="['/section6']">Build In Pipe</div>
  </div>
  <div>
    <label>
      Section 7
    </label>
    <div [routerLink]="['/section7']">Rest API Example</div>
  </div>
  <div>
    <label>
      Section 8
    </label>
    <div [routerLink]="['/section8']">Shopping Cart Demo</div>
  </div>
  <div>
    <label>
      Section 9
    </label>
    <div [routerLink]="['/section9']">Service Demo</div>
  </div>
  <div>
    <label>
      Section 10
    </label>
    <div [routerLink]="['/section10']">Parent Child Component Demo</div>
  </div>
  <div>
    <label>
      Section 11
    </label>
    <div [routerLink]="['/section11']">Custom Directives</div>
  </div>