<div class="section-root">
  <div class="sections-grid">
    <div class="sections">
      <label>
        Section 3
      </label>
      <div [routerLink]="['/section3']">Creating Components in Many Ways</div>
    </div>
    <div class="sections">
      <label>
        Section 4
      </label>
      <div [routerLink]="['/section4']">Working with build-in directives</div>
    </div>
    <div class="sections">
      <label>
        Section 5
      </label>
      <div [routerLink]="['/section5']">Two Way Binding</div>
    </div>
    <div class="sections">
      <label>
        Section 6
      </label>
      <div [routerLink]="['/section6']">Build In Pipe</div>
    </div>
    <div class="sections">
      <label>
        Section 7
      </label>
      <div [routerLink]="['/section7']">Rest API Example</div>
    </div>
    <div class="sections">
      <label>
        Section 8
      </label>
      <div [routerLink]="['/section8']">Shopping Cart Demo</div>
    </div>
    <div class="sections">
      <label>
        Section 9
      </label>
      <div [routerLink]="['/section9']">Service Demo</div>
    </div>
    <div class="sections">
      <label>
        Section 10
      </label>
      <div [routerLink]="['/section10']">Parent Child Component Demo</div>
    </div>
    <div class="sections">
      <label>
        Section 11
      </label>
      <div [routerLink]="['/section11']">Custom Directives</div>
    </div>
    <div class="sections">
      <label>
        Section 12
      </label>
      <div [routerLink]="['/section12']">Template Driven Approach Demo</div>
    </div>
    <div class="sections">
      <label>
        Section 13
      </label>
      <div [routerLink]="['/section13']">Sub Total/Running total Demo</div>
    </div>
    <div class="sections">
      <label>
        Section 14
      </label>
      <div [routerLink]="['/section14']">Route Parameters Demo</div>
    </div>
    <div class="sections">
      <label>
        Section 15
      </label>
      <div [routerLink]="['/section15']">Reative Forms Approach Demo</div>
    </div>
    <div class="sections">
      <label>
        Section 16
      </label>
      <div [routerLink]="['/section16']">Pagination Sorting Search Demo</div>
    </div>
    <div class="sections">
      <label>
        Section 17
      </label>
      <div [routerLink]="['/section17']">Orders with Accordion Functionality Demo</div>
    </div>
    <div class="sections">
      <label>
        Section 18
      </label>
      <div [routerLink]="['/section18']">Multi Level Accordion Demo</div>
    </div>
    <div class="sections">
      <label>
        Section 19
      </label>
      <div [routerLink]="['/section18']">Export to File Formats Demo</div>
    </div>
    <div class="sections">
      <label>
        Section 20
      </label>
      <div [routerLink]="['/section20']">Custom Pipes Demo</div>
    </div>
  </div>
  </div>