
<div class="container">
    <h4>Employee Details</h4>
    <form name="frmEmployee" #frmEmp="ngForm">
      <div class="form-control row">  
        
        <div class="form-control row">
          <label>Employee ID</label>
          <input type="text" name="id"            
          [(ngModel)]="objEmployee.id"  readonly="true"                       
          #eName="ngModel" />
          
      </div>

        <div class="form-control row">
            <label>Employee Name</label>
            <input type="text" name="firstName"            
            [(ngModel)]="objEmployee.firstName"                         
            #eName="ngModel"  />
            
        </div>
        <div class="form-control row">
            <label>Last Name</label>
            <input type="text" name="lastName"            
            [(ngModel)]="objEmployee.lastName"             
            #lName="ngModel" />            
        </div>

        <div class="form-control row">
            <label for="title">Title</label>
            <select [(ngModel)]="objEmployee.title" 
            name="title" placeholder="Select" 
            appearance="outline" size="3" 
           >
              <option value="Sales Manager">Sales Manager</option>
              <option value="Sales Representative">Sales Representative</option>
              <option value="Team Leader">Team Leader</option>
              <option value="Project Manager">Project Manager</option>
              <option value="Marketing Executive">Marketing Executive</option>
            </select>
          </div>

        <div class="form-control row">
            <label for="courtesy">Title Of Courtesy</label>
            <select name="titleOfCourtesy"             
            [(ngModel)]="objEmployee.titleOfCourtesy" 
            placeholder="Select" 
            appearance="outline" >
              <option value="Mr">Mr</option>
              <option value="Mrs">Mrs</option>
              <option value="Ms">Ms</option>
            </select>
          </div>

          <div class="form-control row">
            <label>Gender</label>
            <input type="radio" value="M" name="gender" [(ngModel)]="objEmployee.gender">Male         
            <input type="radio" value="F" name="gender" [(ngModel)]="objEmployee.gender">Female
          </div>
          <br/>
          <div class="form-control row">
            <label>Has Passport</label>
            <input type="checkbox" 
            checked={{objEmployee.hasPassport}}
            name="hasPassport"
            [(ngModel)]="objEmployee.hasPassport">
          </div>
          <br/>
          <div class="form-control row">
            <label>Date Of Joining</label>
            <input type="datetime-local" 
            name="dateOfJoining" 
            [(ngModel)]="objEmployee.dateOfJoining">
          </div>

        <div class="form-control row">
            <label>Salary</label>
            <input type="number" name="salary"  
            [(ngModel)]="objEmployee.salary"             
            #eSal="ngModel"/>           
        </div> 
     </div>
   
     </form>
</div>
<div>
<button type="button" class="btn btn-primary" 
[disabled]="frmEmp.invalid" 
style="width: 200px"
(click)="updateEmployee()">Update Employee</button>        
  &nbsp;
     <button type="button" class="btn btn-primary" style="width: 150px"
          [routerLink]="['/showallemployees']">Back To Index</button>   
     </div>