<nav class="nav">
    <a class="nav-link" routerLink="./dropdownlistrfa">Dropdown List Demo</a>
    <a class="nav-link" routerLink="./textboxesrfa">TextBoxes Demo</a>
    <a class="nav-link" routerLink="./radiorfa">Radio Button Demo</a>    
    <a class="nav-link" routerLink="./checkboxrfa">CheckBox Demo</a>
    <a class="nav-link" routerLink="./listboxrfa">ListBox Demo</a>
    <a class="nav-link" routerLink="./passroutingparameters">Pass Routing Parameters Demo</a>


    <a class="nav-link" routerLink="./showallemployees">Show All Employees</a>
</nav>

<router-outlet></router-outlet>