<form [formGroup]="reactiveForm" class="container">

    <h3>Working with List Boxes</h3>
    <br/>
    <div class="form-group row">
      <label>Salary</label>
      <div class="col-sm-2">
      <input class="form-control" type="number" 
      formControlName="salary"/>
      </div>
    </div>

    <div class="container">
        <div class="row">
<!-- 10-HRA-0 
     20-MA-1
     30-CA-2
-->
            <div class="col-sm">
                <label for="initialList">Available Allowances</label>
                <select class="form-control" 
                name="initialList" 
                formControlName="initialList" 
                [multiple]="isMultiple" 
                size="6">
                  <option *ngFor="let aType of allowanceTypes;let i = index" 
                  value="{{aType?.val}}-{{aType?.name}}-{{i}}">
                  {{aType?.name}}
                </option>
                </select>
              </div> 

              <div class="col-sm-auto">
                <br>
                <button type="button" class="btn btn-outline-primary" [disabled]="this.allowanceTypes.length == 0 || this.reactiveForm.get('initialList')!.value.length == 0 || this.reactiveForm.get('initialList')!.value.length > 1" (click)="pushData('R')">></button><br/>
                <button type="button" class="btn btn-outline-primary" [disabled]="this.finalObj.length == 0 || this.reactiveForm.get('finalList')!.value.length > 1 || this.reactiveForm.get('finalList')!.value.length == 0" (click)="pushData('L')"><</button><br />
                <button type="button" class="btn btn-outline-primary" [disabled]="this.allowanceTypes.length == 0 || this.reactiveForm.get('initialList')!.value.length == 0 || this.reactiveForm.get('initialList')!.value.length == 1" (click)="pushData('R')">>></button><br/>
                <button type="button" class="btn btn-outline-primary" [disabled]="this.finalObj.length == 0 || this.reactiveForm.get('finalList')!.value.length == 0 || this.reactiveForm.get('finalList')!.value.length == 1" (click)="pushData('L')"><<</button><br />
              
              </div>

              <div class="col-sm">
                <label for="finalList">Allowances Entitled For</label>
                <select class="form-control" name="finalList" 
                formControlName="finalList" 
                [multiple]="isMultiple" 
                size="6">
                <option>Please Select</option>
                <option *ngFor="let aType of finalObj;let i = index" 
                value="{{aType?.val}}-{{aType?.name}}-{{i}}">
                {{aType?.name}}
              </option>
              </select>
              </div>

              <br/>
    <br/>
    <br/>
    <div class="form-group row">
      <label>Net Allowance Amount</label>
      <div class="col-sm-2">
        <input class="form-control" type="number" 
        formControlName="allowance" readonly/>
    </div>
    </div>
    <br/>
    <div class="form-group row">
      <label>Net Salary</label>
      <div class="col-sm-2">
        <input class="form-control" type="number" 
        formControlName="netSal" readonly/>
    </div>
    </div>
    <br/>
    <button class="btn btn-primary" 
    type="button" 
    (click)="calculateNetSal()" 
    [disabled]="reactiveForm.get('salary')!.value == 0 || this.finalObj.length == 0">Calculate</button>




	  </div>
</div>



</form>
