<div class="container">
    
      <table border="1" id="customers" 
      *ngIf="categoryWiseProductsObj.length != 0">
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
          </tr>
          <tr
            *ngFor="let product of categoryWiseProductsObj">
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>        
          </tr>
        </table>
        <button type="button"  
        [routerLink]="['/passroutingparameters']">
        Back
      </button>
  </div>
  