<div class="container">
    <h4>Working with Radio Buttons</h4>

    <form name="frmAllowances">

        <div class="form-group row">
            <label class="col-sm-2" for="Salary">Salary</label>
            <input class="col-sm-2" type="number" name="salary" [(ngModel)]="salary" />
        </div>

        <div class="form-group row">
            <label class="col-sm-2" for="tax">Allowance Types</label>
            <!-- <div class="btn-group btn-group-toggle" 
            *ngFor="let aType of allowanceTypes">
            
                <input type="radio" 
                name="allowancePercentage" 
                value="{{aType}}"                
				(change)="calculateAmt(aType);">
			{{aType?.name}}
            </div>     -->

            @for(aType of allowanceTypes;track aType){
            <div class="btn-group btn-group-toggle">
                <input type="radio" name="allowancePercentage" value="{{aType}}" (change)="calculateAmt(aType);">
                {{aType?.name}}
            </div>
            }
        </div>

        <div class="form-group row">
            <label class="col-sm-2" for="allowanceAmt">Allowance Amount</label>
            <input class="col-sm-2" name="allowanceAmt" [(ngModel)]="allowanceAmt" readonly />
        </div>


        <div class="form-group row">
            <label class="col-sm-2" for="netSal">Net Salary</label>
            <input class="col-sm-2" name="netSal" [(ngModel)]="netSal" readonly />
        </div>


    </form>
</div>