
<div class="container">

<button class="btn btn-primary" type="button" (click)="toggleAll(1)">Expand All</button>
<button class="btn btn-primary" type="button" (click)="toggleAll(2)">Collapse All</button>


    <!-- <div style="width:97%" *ngFor="let order of orderDetObj;let i = index;">
        <div class="accordion">

            <table border="1" id="customers">
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Company Name</th>
                    <th style="width:70%"></th>
                </tr>
                <tr>
                    <td>{{order.ORDERID}}</td>
                    <td>{{order.ORDERDATE | date: 'medium'}}</td>
                    <td>{{order.COMPANYNAME}} <i id="Id-{{order.ORDERID}}" *ngIf="order['orderDetails']?.length != 0" class="my-icon fa fa-solid fa-plus" (click)="appendTd($event,i)"></i></td>

                    <td>
                        <div *ngIf="order.isActive">
                            <table border="1" id="customers">
                                <tr>
                    
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Bill Amount</th>
                                </tr>
                                <tr *ngFor="let orderDet of order['orderDetails']">
                                    <td>{{orderDet.PRODUCTNAME}}</td>
                                    <td>{{orderDet.UNITPRICE | currency:'USD'}}</td>
                                    <td>{{orderDet.QUANTITY}}</td>
                                    <td>{{orderDet.BILLAMOUNT | currency:'USD'}}</td>
                                </tr> -->

                                <!-- @for(orderDet of order['orderDetails'];track orderDet){
                                    <tr>
                                        <td>{{orderDet.PRODUCTNAME}}</td>
                                        <td>{{orderDet.UNITPRICE | currency:'USD'}}</td>
                                        <td>{{orderDet.QUANTITY}}</td>
                                        <td>{{orderDet.BILLAMOUNT | currency:'USD'}}</td>
                                    </tr>
                                }
                            </table>   
                            <div style="float:right">Sub Total : {{order.SubTotal}}</div>  
                        </div>
                    </td>
    
                </tr>

            </table>    
           
    
        </div>
    </div> -->

    @for(order of orderDetObj;track order;let i = $index;){
        <div style="width:97%">
            <div class="accordion">
    
                <table border="1" id="customers">
                    <tr>
                        <th>Order ID</th>
                        <th>Order Date</th>
                        <th>Company Name</th>
                        <th style="width:70%"></th>
                    </tr>
                    <tr>
                        <td>{{order.ORDERID}}</td>
                        <td>{{order.ORDERDATE | date: 'medium'}}</td>
                        <td>{{order.COMPANYNAME}}
                            @if(order['orderDetails']?.length != 0){
                                <i id="Id-{{order.ORDERID}}" class="my-icon fa fa-solid fa-plus" (click)="appendTd($event,i)"></i>

                            }
                            <!-- <i id="Id-{{order.ORDERID}}" *ngIf="order['orderDetails']?.length != 0" class="my-icon fa fa-solid fa-plus" (click)="appendTd($event,i)"></i> -->
                        </td>
    
                        <td>
                            <!-- <div *ngIf="order.isActive">
                                <table border="1" id="customers">
                                    <tr>
                        
                                        <th>Product Name</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                        <th>Bill Amount</th>
                                    </tr> -->
                                    <!-- <tr *ngFor="let orderDet of order['orderDetails']">
                                        <td>{{orderDet.PRODUCTNAME}}</td>
                                        <td>{{orderDet.UNITPRICE | currency:'USD'}}</td>
                                        <td>{{orderDet.QUANTITY}}</td>
                                        <td>{{orderDet.BILLAMOUNT | currency:'USD'}}</td>
                                    </tr> -->
    
                                    <!-- @for(orderDet of order['orderDetails'];track orderDet){
                                        <tr>
                                            <td>{{orderDet.PRODUCTNAME}}</td>
                                            <td>{{orderDet.UNITPRICE | currency:'USD'}}</td>
                                            <td>{{orderDet.QUANTITY}}</td>
                                            <td>{{orderDet.BILLAMOUNT | currency:'USD'}}</td>
                                        </tr>
                                    }
                                </table>   
                                <div style="float:right">Sub Total : {{order.SubTotal}}</div>  
                            </div> -->

                            @if(order.isActive){
                                <div>
                                    <table border="1" id="customers">
                                        <tr>
                            
                                            <th>Product Name</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                            <th>Bill Amount</th>
                                        </tr>
                                        <!-- <tr *ngFor="let orderDet of order['orderDetails']">
                                            <td>{{orderDet.PRODUCTNAME}}</td>
                                            <td>{{orderDet.UNITPRICE | currency:'USD'}}</td>
                                            <td>{{orderDet.QUANTITY}}</td>
                                            <td>{{orderDet.BILLAMOUNT | currency:'USD'}}</td>
                                        </tr> -->
        
                                        @for(orderDet of order['orderDetails'];track orderDet){
                                            <tr>
                                                <td>{{orderDet.PRODUCTNAME}}</td>
                                                <td>{{orderDet.UNITPRICE | currency:'USD'}}</td>
                                                <td>{{orderDet.QUANTITY}}</td>
                                                <td>{{orderDet.BILLAMOUNT | currency:'USD'}}</td>
                                            </tr>
                                        }
                                    </table>   
                                    <div style="float:right">Sub Total : {{order.SubTotal}}</div>  
                                </div>
                            }
                        </td>
                    </tr>
                </table>  
            </div>
        </div>
    }
    
    <div style="float:right">Grand Total : {{grandTotal}}</div>
    </div>
