<form [formGroup]="customerForm">
    <table border="1" id="customers">
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>City</th>
            <th>State</th>
            <th>Action</th>
        </tr>
        <tbody formArrayName="customerFormArray">
            <!-- <tr *ngFor="let control of getControls(); let i = index;" [formGroupName]="i">
                <td><input type="text" formControlName="CustName"></td>
                <td><input type="text" formControlName="CustPosition"></td>
                <td><input type="text" formControlName="CustCity"></td>
                <td><input type="text" formControlName="CustState"></td>
                <td><i (click)="deleteRow(i)" class="my-icon fa fa-trash">Delete Row</i></td>
            </tr> -->
            @for(control of getControls();track control; let i = $index;){
                <tr [formGroupName]="i">
                    <td><input type="text" formControlName="CustName"></td>
                    <td><input type="text" formControlName="CustPosition"></td>
                    <td><input type="text" formControlName="CustCity"></td>
                    <td><input type="text" formControlName="CustState"></td>
                    <td><i (click)="deleteRow(i)" class="my-icon fa fa-trash">Delete Row</i></td>
                </tr>
            }
        </tbody>

	</table>
</form>

<button style="float:right" type="button" 
[disabled]="!customerForm.valid" 
(click)="addNewRow()">
Add New
</button>

<button style="float:right" type="button" 
[disabled]="!customerForm.valid" 
(click)="bulkInsert()">
Do Bulk Insert
</button>

