
<div class="container"  [formGroup]="reactiveForm">
    <h4>Behaviour Subject</h4>
    <div class="form-group row">
        <label>Categories</label>
        <select class="btn col-sm-10 dropdown-toggle btn-outline-info" 
        formControlName="behData" (change)="updateInputs()" 
        data-toggle="dropdown" placeholder="Select" appearance="outline">
          <!-- <option *ngFor="let category of allCategories" 
          [ngValue]="category">{{category}}
          </option> -->
          @for(category of allCategories;track category){
          <option
          [ngValue]="category">{{category}}
          </option>
          }
        </select>
      </div>
</div>
<div class="form-group row">
    <app-behsubchild-showproducts></app-behsubchild-showproducts> 
  </div>

