
<form [formGroup]="reactiveForm" class="container">
    <h3>Working with DropDown Lists !!</h3>
<div>

    <div class="form-group row">
        <label>Countries</label>
        <select class="btn col-sm-10 dropdown-toggle btn-outline-info" 
        (change)="updateInputs()" 
        data-toggle="dropdown" 
        formControlName="countryCodes" 
        placeholder="Select" 
        appearance="outline">

          <!-- <option *ngFor="let countryDet of countryDetObj" 
          [ngValue]="countryDet">{{countryDet?.countryName}}
          </option> -->

          @for(countryDet of countryDetObj;track countryDet){
            <option 
            [ngValue]="countryDet">{{countryDet?.countryName}}
            </option>
          }
        </select>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Currency Code</label>
        <input class="col-sm-2" type="text" formControlName="currencyCode" readonly>
      </div>
    
      <div class="form-group row">
        <label class="col-sm-2">Population</label>
        <input class="col-sm-2" type="text" formControlName="population" readonly>
      </div>
     
      <div class="form-group row">
        <label class="col-sm-2">Capital</label>
        <input class="col-sm-2" type="text" formControlName="capital" readonly>
      </div>


      <div class="form-group row">

        <label class="col-sm-2">Upper Alphabets</label>
        <select class="btn col-sm-2 btn-sm dropdown-toggle btn-outline-info" 
        data-toggle="dropdown" 
        placeholder="Select" 
        appearance="outline" 
        formControlName="upperAlpha">
          <!-- <option *ngFor="let upLet of upperLetterObj" 
          value="{{upLet}}">{{upLet}}</option> -->
          @for(upLet of upperLetterObj;track upLet){
            <option 
          value="{{upLet}}">{{upLet}}</option>
          }
        </select>

        <label class="col-sm-2">Lower Alphabets</label>
        <select class="btn col-sm-2 btn-sm dropdown-toggle btn-outline-info" data-toggle="dropdown" placeholder="Select" appearance="outline" formControlName="lowerAlpha" >
          <!-- <option *ngFor="let lowLet of lowerLetterObj" 
          value="{{lowLet}}">{{lowLet}}</option> -->
          @for(lowLet of lowerLetterObj;track lowlet){
          <option 
          value="{{lowLet}}">{{lowLet}}</option>
          }
        </select>

        <label class="col-sm-2">Numbers</label>
        <select class="col-sm-2 btn btn-sm dropdown-toggle btn-outline-info" data-toggle="dropdown" placeholder="Select" appearance="outline" formControlName="allNumbers">
          <!-- <option *ngFor="let num of numberObj" 
          value="{{num}}">{{num}}</option> -->
          @for(num of numberObj;track num){
          <option 
          value="{{num}}">{{num}}</option>
          }
        </select>
      </div>

      <div class="form-group row">  

        <div class="form-group row">
          <label class="col-sm-2">Upper Count</label>
          <input class="col-sm-2" type="text" 
          [value]="upperLetterObj?.length" disabled>
          
          <label class="col-sm-2">Lower Count</label>
          <input class="col-sm-2" type="text" 
          [value]="lowerLetterObj?.length" disabled>

          <label class="col-sm-2">Upper Count</label>
          <input class="col-sm-2" type="text" 
          [value]="numberObj?.length" disabled>
        </div>
      </div>

      <div class="form-group row">
        <button class="btn btn-primary col-sm-2" 
        type="button" 
        [disabled]="upperLetterObj.length>0 || lowerLetterObj.length>0 || numberObj.length>0"
            (click)="InitializeLists()">RESET LIST</button> 
        </div>
           
          <div class="form-group row">
              <button class="col-sm-2 btn btn-primary" 
              type="button" 
              (click)="clearDetails()">
              CLEAR LIST
            </button>
            </div>

            <div class="form-group row">
              <label class="col-sm-2">Enter Data To Delete</label>
              <input class="col-sm-2" type="text" 
              placeholder="Enter Data To Delete" 
              formControlName="inputDataForDeletion">

              <button class="col-sm-2 btn btn-primary" 
              type="button" 
              [disabled]="!reactiveForm.get('inputDataForDeletion')!.value" 
              (click)="applyOperation('D')">DELETE ITEM</button>
            </div>

            <div class="form-group row">
              <input class="col-sm-2" type="text" 
              placeholder="Enter Data To Select" 
              formControlName="inputDataForSelection">
              <button class="col-sm-2 btn btn-primary" type="button" 
              [disabled]="!reactiveForm.get('inputDataForSelection')!.value"
                (click)="applyOperation('S')">SELECT ITEM</button>
            </div>
            <br/>
          
          
            <div class="form-group row">
              <input class="col-sm-2" type="text" 
              placeholder="Item to be updated" 
              formControlName="initialdata">
              <input class="col-sm-2" type="text" 
              placeholder="Replacement Text" 
              formControlName="finaldata">

              <button class="col-sm-2 btn btn-primary" type="button" 
              [disabled]="!reactiveForm.get('initialdata')!.value || !reactiveForm.get('finaldata')!.value"
                (click)="applyOperation('U')">UPDATE ITEM</button>
            </div>

            <div class="form-group row">
              <label class="col-sm-2">Enter Data To Insert</label>
              <input class="col-sm-2" type="text" 
              placeholder="Enter Data To Insert" 
              formControlName="inputDataForInsertion">

              <label class="col-sm-2">Enter Position</label>
              <input class="col-sm-2" type="number" 
              placeholder="Enter Position" 
              formControlName="insertposition">
              
              <button class="col-sm-2 btn btn-primary" type="button" 
              [disabled]="!reactiveForm.get('inputDataForInsertion')!.value"
                (click)="insertItemInUpperList()">INSERT ITEM</button>
            </div>


            <div class="form-group row">
              <input class="col-sm-2" type="number" placeholder="Amount" 
              formControlName="amount">

              <select class="btn col-sm-2 dropdown-toggle btn-outline-info" 
              formControlName="fromCurr" placeholder="Select" appearance="outline">
                <!-- <option *ngFor="let curr of countryDetObj" value="{{curr?.currencyCode}}">
                  {{curr?.currencyCode}}</option> -->
                  @for(curr of countryDetObj;track curr){
                    <option
                    value="{{curr?.currencyCode}}">
                      {{curr?.currencyCode}}</option>
                  }
              </select>

              <select class="btn col-sm-2 dropdown-toggle btn-outline-info" 
              formControlName="toCurr" placeholder="Select" appearance="outline">
                <!-- <option *ngFor="let curr of countryDetObj" 
                value="{{curr?.currencyCode}}">
                {{curr?.currencyCode}}
              </option> -->
              @for(curr of countryDetObj;track curr){
              <option
                value="{{curr?.currencyCode}}">
                {{curr?.currencyCode}}
              </option> 
              }
              </select>

              <button type="button" class="col-sm-2 btn btn-primary"
              [disabled]="!reactiveForm.get('amount')!.value || !reactiveForm.get('fromCurr')!.value || !reactiveForm.get('toCurr')!.value || reactiveForm.get('fromCurr')!.value == reactiveForm.get('toCurr')!.value"
              (click)="convertCurrency()">CONVERT CURRENCY</button>
            </div>


            <!-- <div *ngIf="conversionResult">
              <span>{{reactiveForm.get('amount')!.value}} {{reactiveForm.get('fromCurr')!.value}} =</span><br />
              <span>{{finalAmount}} {{reactiveForm.get('toCurr')!.value}}</span><br />
              <span>1 {{reactiveForm.get('fromCurr')!.value}} = {{baseAmt}} {{reactiveForm.get('toCurr')!.value}}</span>
            </div> -->

            @if(conversionResult){
              <div>
                <span>{{reactiveForm.get('amount')!.value}} {{reactiveForm.get('fromCurr')!.value}} =</span><br />
                <span>{{finalAmount}} {{reactiveForm.get('toCurr')!.value}}</span><br />
                <span>1 {{reactiveForm.get('fromCurr')!.value}} = {{baseAmt}} {{reactiveForm.get('toCurr')!.value}}</span>
              </div>
            }
          


</div>

</form>